@model ElLib.Common.Entity.BookCategory

@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-lg-5">
            <div class="card">
                @if (User.IsInRole("Admin"))
                {
                    <div class="card-header info-color">
                        <a class="btn-floating blue darken-3 float-right" style="height: 40px; width: 40px; margin: 0"><i class="fas fa-star"></i></a>
                    </div>
                }
                else
                {
                    <div class="card-header info-color py-4">
                    </div>
                }
                <div class="card-body">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th scope="row" class="text-black-50">Название</th>
                            <td>@Model.Name</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-black-50">Описание</th>
                            <td>@Model.Description</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-black-50">Книги</th>
                            <td>
                                <a type="button" href="@Url.Action("GetByBookCategoryId","Book")" class="btn text-white info-color btn-sm btn-rounded">Все книги данной категории</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>