<link href="~/Content/bootstrap.css" rel="stylesheet" />

<div style="background: #dedede">
    <div class="d-flex flex-row align-items-center" style=" min-height: 100vh">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <span class="display-1 d-block">500</span>
                    <div class="mb-4 lead">Ошибка сервера</div>
                    <a href="@Url.Action("Index","Home")" class="btn btn-link">Вернуться на главную</a>
                </div>
            </div>
        </div>
    </div>
</div>