@model IEnumerable<ElLib.Common.Entities.Language>

@{
    ViewBag.Title = "Языки";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<div class="container" style="margin-bottom: 15px;margin-top:15px">
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <div class="card">
                <h5 class="card-header info-color white-text text-center py-3">
                    <strong>Языки</strong>
                </h5>
                <div class="card-body">
                    <table class="table table-hover">
                        <tbody id="results">
                        @foreach (var language in Model)
                        {
                            <tr class="changes">
                                <td style="width: 70%;">
                                    @language.Name
                                </td>
                                <td class="td-pad" style="width: 50px">
                                    <a class="btn-floating btn-sm primary-color float-right" title="Редактировать" href="@Url.Action("Edit", "Language", new {id = language.Id})"><i class="fa fa-edit"></i></a>
                                </td>
                                <td class="td-pad" style="width: 50px">
                                    <a class="btn-floating btn-sm danger-color float-right" title="Удалить" href="@Url.Action("Delete", "Language", new {id = language.Id})"><i class="fa fa-close"></i></a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@if (!ViewData.ModelState.IsValid)
{
    @Html.Action("ValidationError", "Error", new { errors = ViewData.ModelState.Values.FirstOrDefault(x => x.Errors.Count > 0).Errors })
}