@model IEnumerable<ElLib.Common.Entities.User>

@foreach (var user in Model)
{
    <tr class="changes">
        <td style="width: 65%;">
            @user.UserName (@user.Email)
        </td>
        <td class="td-pad" style="width: 50px">
            <a class="btn-floating btn-sm info-color float-right" href="@Url.Action("Info", "User", new {id = user.Id})"><i class="fa fa fa-info"></i></a>
        </td>
    </tr>
}