@model IEnumerable<ElLib.Common.Entities.WCF.Advertising>


<div class="row" style="width: 900px; height: 100%;">
    @foreach (var advertising in Model)
    {
        <div class="col-md-2" style="margin: -20px -10px -20px -10px">
            <div class="card" style="margin: 15px 0px 15px 0">
                <div class="card-body" style="width: 100%">
                    <div>
                        <img class="card-img-top" src="@advertising.Picture.Value" alt="Card image cap">
                    </div>
                    <div class="card-body" style="font-size: 0.7rem; margin: 5px -10px -15px -10px; padding: 0.8rem">
                        <a class="card-title btn-link black-text" href="@advertising.Url.Value">@advertising.Title</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>