@model ElLib.Web.Models.LoginUserModel

@{
    Layout = "~/Views/Shared/_Main.cshtml";
}

<div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
        <div class="modal-header info-color">
            <strong class="white-text">Вход</strong>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        @using (Html.BeginForm("Login", "Auth"))
        {
            <div class="modal-body">

                @Html.AntiForgeryToken()
                <div class="md-form">
                    <input type="text" id="UserName" name="UserName" class="form-control validate" style="color: black">
                    <label for="UserName">Логин</label>
                </div>
                <div class="md-form">
                    <input type="password" id="Password" name="Password" class="form-control validate" style="color: black">
                    <label for="Password">Пароль</label>
                </div>
                <div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialLoginFormRemember">
                        <label class="form-check-label" for="materialLoginFormRemember">Запомнить</label>
                    </div>
                </div>

            </div>
            <div class="modal-footer justify-content-center">
                <input type="submit" class="btn btn-rounded btn-outline-info btn-block" value="Войти" style="margin-top: 15px; margin-bottom: 15px;"/>
            </div>
        }
    </div>
</div>